{% extends 'master.html' %}
{% load static %}

{% block title %}
  Client List
{% endblock %}

{% block content %}
  {% include 'nav.html' %}

  <div class="container text-center d-flex justify-content-center align-items-center mt-5">
    <div class="row">
      <div class="col-md-12">
        <h1>Client List</h1>
        <table class="table table-bordered table-responsive table-striped mt-5">
          <thead>
            <tr>
              <th>Client No.</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Telephone #</th>
              <th>Street</th>
              <th>City</th>
              <th>Email</th>
              <th>Preferred Type</th>
              <th>Max Rent</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for client in clients %}
            <tr>
              <form action="{% url 'update_client' %}" method="post">
                {% csrf_token %}
                <td>{{ client.clientno }}</td>
                <td><input type="text" name="fname" value="{{ client.fname }}"></td>
                <td><input type="text" name="lname" value="{{ client.lname }}"></td>
                <td><input type="text" name="telno" value="{{ client.telno }}"></td>
                <td><input type="text" name="street" value="{{ client.street }}"></td>
                <td><input type="text" name="city" value="{{ client.city }}"></td>
                <td><input type="email" name="email" value="{{ client.email }}"></td>
                <td>
                  <select name="preftype">
                    <option value="flat" {% if client.preftype == 'flat' %}selected{% endif %}>Flat</option>
                    <option value="house" {% if client.preftype == 'house' %}selected{% endif %}>House</option>
                  </select>
                </td>
                <td><input type="number" name="maxrent" value="{{ client.maxrent }}"></td>
                <td>
                  <button type="submit" class="btn btn-primary">Save</button>
                  <input type="hidden" name="clientno" value="{{ client.clientno }}" />
                </td>
              </form>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
