{% extends "master.html" %}

{% block title%}
    Staff List
{% endblock %}

{% block content %}
    <h1>Staff List</h1>
    <table border="1">
        <tr>
            <th>Staff No. </th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Sex</th>
            <th>Date of Birth</th>
            <th>Salary</th>
            <th>Branch No</th>
            <th>Telephone</th>
            <th>Mobile</th>
            <th>Email</th>
        </tr>

        {% for staff in staffs %}
        <form  action="{% url 'update_staff' %}" method="post">
            {% csrf_token %}
            <tr>
                <td>{{ staff.staffno }}</td>
                <td>{{ staff.fname }}</td>
                <td>{{ staff.lname }}</td>
                <td>{{ staff.position }}</td>
                <td> {{ staff.sex }}</td>
                <td>{{ staff.dob }}</td>
                <td><input type="number" name="salary-{{ staff.staffno }}" value="{{ staff.salary }}" /></td>
                <td>{{ staff.branchno }}</td>
                <td><input type="text" name="telephone-{{ staff.staffno }}" value="{{ staff.telephone }}" /></td>
                <td><input type="text" name="mobile-{{ staff.staffno }}" value="{{ staff.mobile }}" /></td>
                <td><input type="email" name="email-{{ staff.staffno }}" value="{{ staff.email }}" /></td>
                <td><button type="submit">Save</button></td>
                <input type="hidden" name="staffno" value="{{ staff.staffno }}" />
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}